@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
        
*{
    font-family: "Lexend";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1C1C1C;

    transition: 0.3s ease;
}

body{
    height: 100vh;
    background-color: #F6F4F1;
    padding: 40px 15%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
label{
    white-space:nowrap;

}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 30px;

    background-color: white;
    border-radius: 10px;
}

.header h2{
    text-align: center;
    font-weight: 500;
    font-size: 22px;
}

.header .logo{
    width: 100px;
}

.header .exit-icon{
    display: flex;
    justify-content: end;
    width: 100px;
}

.header .exit-icon img{
    width: 30px;
    cursor: pointer;
}


.body{
    display: flex;
    flex-direction: column;
    gap: 25px;

   background-color: white; 
   border-radius: 10px;
   padding: 25px 30px;

   position: relative;
}

.form-header h4{
    font-weight: 500;
    font-size: 18px;
}
.col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.col-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.col-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.col-5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.body .input-container.row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.body .input-container.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body .input-container input{
    background-color: #F6F4F1;
    border: solid 2px #e2e2e2;
    border-radius: 5px;
    padding: 8px 12px;

    font-size: 15px;
    font-weight: 300;

    width: 100%;
}

.body .input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.body .input-group.prcnt{
    width: 40%;
}
.form-result{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.form-action{
    display: flex;
    justify-content: end;
    gap: 15px;

    position: absolute;
    right: 30px;
    bottom: 25px;
}

.form-action button{
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;

    background-color: #EEE9E1;
    font-weight: 500;
}

.form-action .save-btn{
    color: white;
    background-color: #EC8B18;
}

.datalist{
    display: flex;
    flex-direction: column;
    gap: 25px;

   background-color: white; 
   border-radius: 10px;
   padding: 25px 30px;
}

.table-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 40px;
}
.table-header h4{
    font-weight: 500;
    font-size: 18px;
    white-space:nowrap;
}

.table-header .table-action{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}

.search-bar{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    color: #D5D9DD;
    border: 2px solid #D5D9DD;
    border-radius: 10px;
    padding: 7px 10px;
}
.search-bar input{
    width: 100%;

    border: none;
    outline: none;

    font-size: 15px;
    font-weight: 300;
}
.search-bar i{
    cursor: pointer;
    color: #b6b9bd;
}

.sort-btn{
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #EC8B18;
    cursor: pointer;
}

.table-icons{
    display: flex;
    gap: 15px;
    font-size: 20px;
}
.table-icons i{
    cursor: pointer;
}    


.pagination{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;

}
.pagination a{
    color: #EC8B18;
    background-color: #ffeeda;
    font-size: 14px;
    font-weight: 600;
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
    border-radius: 7px;
}.pagination a.active{
    color: white;
    background-color: #EC8B18;
    transform: scale(1.1);
}
.pagination a:hover{
    transform: scale(1.2);
}
.pagination i{
    color: #EC8B18;
}

.table-body{
    overflow-y: hidden;
    border-radius: 10px 10px 0 0;
    border-bottom: solid 3px #e2e2e2;
}
.table-body::-webkit-scrollbar{
    height: 12px;
}.table-body::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 5px;
}.table-body::-webkit-scrollbar-thumb {
    background: #d6d6d6; /* Color of the scrollbar thumb */
    border-radius: 5px;
    cursor: pointer;
}
/* .table-body::-webkit-scrollbar-thumb:hover {
    background: #d6d6d6; 
} */

.table-body table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background-color: #fafafa;

}.table-body table th{
    padding: 15px 25px;
    font-weight: 500;
    color: #AB9E91;
}.table-body table td{
    padding: 17px 25px;
    background-color: white;
    border-top: solid #f8f8f8 2px;
    color: #583925;
}


.table-body table .datalist-actions{
    white-space:nowrap;
    user-select: none;
}
.table-body table .datalist-actions i{
    color: #958888;
    font-size: 20px;
    margin-right: 7px;
    cursor: pointer;
}




















@media(max-width:1800px){
    body{

        padding: 40px 10%;

    }
}

@media(max-width:1400px){
    body{

        padding: 40px 5%;

    }
}

/* @media(max-width:900px){
    .body{
        padding-bottom: 110px;
    }
    .col-5{
        grid-template-columns: 1fr 1fr;
    }
    .form-result{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
} */