@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
        
*{
    font-family: "Lexend";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1C1C1C;

    transition: 0.3s ease;
}

body{
    height: 100vh;
    background-color: #F6F4F1;
    padding: 40px 15%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
label{
    white-space:nowrap;

}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 30px;

    background-color: white;
    border-radius: 10px;
}

.header h2{
    text-align: center;
    font-weight: 500;
    font-size: 22px;
}

.header .logo{
    width: 100px;
}

.header .exit-icon{
    display: flex;
    justify-content: end;
    width: 100px;
}

.header .exit-icon img{
    width: 30px;
    cursor: pointer;
}


.body{
    display: flex;
    flex-direction: column;
    gap: 25px;

   background-color: white; 
   border-radius: 10px;
   padding: 25px 30px;

   position: relative;
}

.form-header h4{
    font-weight: 500;
    font-size: 18px;
}
.col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.col-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.col-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.col-5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.body .input-container.row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.body .input-container.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body .input-container input{
    background-color: #F6F4F1;
    border: solid 2px #e2e2e2;
    border-radius: 5px;
    padding: 8px 12px;

    font-size: 15px;
    font-weight: 300;

    width: 100%;
}
.body .input-container select{
    background-color: #F6F4F1;
    border: solid 2px #e2e2e2;
    border-radius: 5px;
    padding: 8px 12px;

    font-size: 15px;
    font-weight: 300;

    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.body .input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.body .input-group.prcnt{
    width: 40%;
}
.form-result{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.form-action{
    display: none;
}

.form-action.active{
    display: flex;
    justify-content: end;
    gap: 15px;

    position: absolute;
    right: 25px;
    bottom: 25px;
}


.form-action button{
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;

    background-color: #EEE9E1;
    font-weight: 500;
}

.form-action .save-btn{
    color: white;
    background-color: #EC8B18;
}

.datalist{
    display: flex;
    flex-direction: column;
    gap: 25px;

   background-color: white; 
   border-radius: 10px;
   padding: 25px 30px;
}

.table-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 40px;
}
.table-header h4{
    font-weight: 500;
    font-size: 18px;
    white-space:nowrap;
}

.table-header .table-action{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}

.search-bar{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    color: #D5D9DD;
    border: 2px solid #D5D9DD;
    border-radius: 10px;
    padding: 7px 10px;
}
.search-bar input{
    width: 100%;

    border: none;
    outline: none;

    font-size: 15px;
    font-weight: 300;
}
.search-bar i{
    cursor: pointer;
    color: #b6b9bd;
}

.sort-btn{
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #EC8B18;
    cursor: pointer;
}

.table-icons{
    display: flex;
    gap: 15px;
    font-size: 20px;
}
.table-icons i{
    cursor: pointer;
}    


.table-footer{
    margin-top: auto;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;
}
.pagination a{
    color: #EC8B18;
    background-color: #ffeeda;
    font-size: 14px;
    font-weight: 600;
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
    border-radius: 7px;
}.pagination a.active{
    color: white;
    background-color: #EC8B18;
    transform: scale(1.1);
}
.pagination a:hover{
    transform: scale(1.2);
}
.pagination i{
    color: #EC8B18;
}

.table-body{
    overflow-x: auto; /* Allow horizontal scrolling */
    overflow-y: hidden;
    border-radius: 10px 10px 0 0;
    border-bottom: solid 3px #e2e2e2;
    position: relative;
}
.table-body::-webkit-scrollbar{
    height: 12px;
}.table-body::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 5px;
}.table-body::-webkit-scrollbar-thumb {
    background: #d6d6d6; /* Color of the scrollbar thumb */
    border-radius: 5px;
    cursor: pointer;
}
/* .table-body::-webkit-scrollbar-thumb:hover {
    background: #d6d6d6; 
} */

.table-body table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background-color: #fafafa;

}.table-body table th{
    padding: 15px 25px;
    font-weight: 500;
    color: #AB9E91;
}

thead th:first-child {
    position: sticky;
    left: 0;
    background: #f0f0f0;
    z-index: 2;
}
tbody td:first-child {
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
}

thead th:last-child {
    position: sticky;
    right: 0; /* Stick exactly to the right */
    background: #f0f0f0;
    z-index: 2;
}
tbody td:last-child {
    position: sticky;
    right: 0; /* Stick exactly to the right */
    background: white;
    z-index: 1;
}

.table-body table td{
    padding: 15px 25px;
    background-color: white;
    border-top: solid #f8f8f8 2px;
    color: #583925;
}


.table-body table .datalist-actions{
    white-space:nowrap;
    user-select: none;
}
.table-body table .datalist-actions i{
    color: #958888;
    font-size: 20px;
    margin-right: 7px;
    cursor: pointer;
}

#edit-action:hover{
    color: #F28B30;
    transform: scale(1.2);
}
#delete-action:hover{
    color: #EA4335;
    transform: scale(1.2);
}
#print-action:hover{
    color: #00796B;
    transform: scale(1.2);
}







@media(max-width:1800px){
    body{

        padding: 40px 10%;

    }
}

@media(max-width:1400px){
    body{

        padding: 40px 5%;

    }
}

/* @media(max-width:900px){
    .body{
        padding-bottom: 110px;
    }
    .col-5{
        grid-template-columns: 1fr 1fr;
    }
    .form-result{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
} */




.body-split{
    display: flex;
    gap: 20px;


    overflow: hidden;
    height: 100%;
}

.sidebar{
    border-radius: 10px;
    background-color: white;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 70px;
    padding: 20px 0;
    
}
.sidebar i{
    color: #E4B379;
}
.sidebar a{
    text-decoration: none;
    width: 100%;
    padding: 15px 0;
    text-align: center;

    font-size: 20px;
    font-weight: 600;
    color: #E4B379;
    position: relative;

}.sidebar a.active i{ 
    color: #EC8B18;
    transform: scale(1.1);
}.sidebar a.active p{ 
    color: #EC8B18;
    transform: scale(1.1);
}.sidebar a.active div{
    position: absolute;
    height: 100%;
    width: 7px;
    background-color: #EC8B18;
    top: 0;
    left: 0;
    border-radius: 0 5px 5px 0;
}

.sidebar a:hover i, a:hover p{
    color: #EC8B18;
    transform: scale(1.2);
}
.sidebar p{
    color: #E4B379;
}

.form-entries{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.form-entries::-webkit-scrollbar{
    width: 15px;
}.form-entries::-webkit-scrollbar-track {
    background: #ebebeb; /* Background of the scrollbar track */
    border-radius: 6px;
}.form-entries::-webkit-scrollbar-thumb {
    background: #d6d6d6; /* Color of the scrollbar thumb */
    border-radius: 6px;
    cursor: pointer;
}

.form-entries .table{
    display: none;
}
.form-entries .table.active{
    border-radius: 10px;
    background-color: white;
    padding: 40px;
    
    /* border-style: solid;
    border-width: 3px; */

    display: flex;
    flex-direction: column;
    gap: 25px;

    height: 100%;
}